MYSQL_USER={{ mailtrain_db_user | mandatory }}
MYSQL_PASSWORD={{ mailtrain_db_pass | mandatory }}
MYSQL_DATABASE={{ mailtrain_db_name | mandatory }}
MYSQL_ROOT_PASSWORD={{ mailtrain_db_root_pass | mandatory }}
MYSQL_ROOT_HOST=%
